{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block javascripts %}
    <script type='module' src='js/home.js'></script>
{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="wrapper">
    <h1>New Customer Form</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.birth_date) }}

        <h3>Customer Cars</h3>
        <button type="button" class="add_item_link" data-collection-holder-class="cars">Add new car</button>
        <ul class="cars" 
            data-index="{{ form.cars|length > 0 ? form.cars|last.vars.name + 1 : 0 }}" 
            data-prototype="{{ form_widget(form.cars.vars.prototype)|e('html_attr') }}"
            >
    </ul>
      {{ form_row(form.cars, { 'label': false }) }}
    {{ form_end(form) }}
</div>
{% endblock %}
